@font-face {
  font-family: 'Lato';
  src: url(../arquivos/fonts/Lato-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Myriad'; src: url(../arquivos/fonts/MyriadPro-Regular.otf) format('opentype'); font-weight: normal; font-style: normal;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.bg-footer {
  background-color: #111111;
}
.tt-footer{
  color: #727272;
  font: 14px Lato;
  text-align: center;
  margin: 1.5em auto auto;
}
.a-footer {
  color: #FCBA00;
  font-size: 32px;
  text-align: right;
}
.a-footer:focus {
  color: #FFC822;
}
.a-footer:hover {
  color: #FFC822;
}
.a-footer:active {
  color: #FFC822;
}

.facebook{
  text-align: right;
}
.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
